[2016-08-11 10:44] msivers opened #1 "Installed 0.2.0 from Nuget for Droid project but assembly does not match code?"
Having installed Xamarin.RangeSlider 0.2.0 into my Xamarin Droid project (Xamarin.RangeSlider.Droid) I can't see properties such as 'DefaultColor', 'ShowLabels', 'ThumbImage' etc. in intellisense. Looking at Xamarin.RangeSlider.Droid in the Assembly Browser and the RangeSliderControl class doesn't seem to match the latest code here on GitHub. The only public property seems to be 'NotifyWhileDraggi

[2016-08-11 13:18] halkar commented on #1
Thanks a lot @msivers

Looks like I packaged wrong version last time. Check out version 0.2.1.

[2016-08-11 13:18] #1 closed

[2016-08-13 23:28] msivers opened #2 "Great control but could do with some more customisation options."
A couple of things that would be really useful (commonly so).

1. Typically sliders would have an increment setting so that you can force increments of a defined amount. I.e. the selection would jump by a step value e.g. value of 25. Therefore a min value of 100 and max value of 200 would have 5 steps in total... 100, 125, 150, 175, 200. This is very much required for me.

2. I really need to be a

[2016-08-15 11:49] halkar opened #3 "Implement step value"
Typically sliders would have an increment setting so that you can force increments of a defined amount. I.e. the selection would jump by a step value e.g. value of 25. Therefore a min value of 100 and max value of 200 would have 5 steps in total... 100, 125, 150, 175, 200.

[2016-08-15 11:49] halkar opened #4 "Implement text above handles"

[2016-08-15 11:50] halkar opened #5 "Make bar height accessible"
Thickness of slider's line.

[2016-08-15 11:52] halkar commented on #2
Sorry for the delay.

1. This will be next feature to implement.
2. Text above handles at the moment is implemented only on Android (valuesAboveThumbs in axml or ShowTextAboveThumbs in code). But I will think of implementing this feature.
3. On Android it is only available in axml as barHeight.

I will close this one as I created separate tasks.

[2016-08-15 11:52] #2 closed

[2016-08-16 13:09] halkar commented on #3
@msivers new version is in nuget, you can give it a try.

[2016-08-16 13:09] #3 closed

[2016-08-17 09:12] #5 closed

[2016-08-21 01:41] #4 closed

[2016-08-21 01:42] halkar commented on #2
@msivers I've updated nuget packages. You can give them a try.

[2016-09-07 06:15] opcodewriter opened #6 "Compile error"
I added the library by NuGet but I get compilation errors.

![snip_20160907091325](https://cloud.githubusercontent.com/assets/15019084/18301619/8cacd3e2-74db-11e6-8f2f-fa4dba109b0b.png)

[2016-09-08 11:35] halkar commented on #6
@opcodewriter do you use it with Xamarin.Forms or with Xamarin.Droid?

[2016-09-28 11:13] halkar commented on #6
@opcodewriter thanks!
Should be fixed in 0.5.4.

[2016-09-28 11:13] #6 closed

[2016-10-26 09:33] retepel opened #8 "Could not add Xamarin.RangeSlider 0.5.7"
Could not install package 'Xamarin.RangeSlider 0.5.7'. You are trying to install this package into a project that targets '.NETPortable,Version=v4.5,Profile=Profile7', but the package does not contain any assembly references or content files that are compatible with that framework. For more information, contact the package author.

[2016-10-26 09:45] halkar commented on #8
If you are working with Xamarin.Forms just add Xamarin.Forms.RangeSlider package to all your projects. Xamarin.RangeSlider is only for platform-specific projects.

[2016-10-26 11:14] #8 closed

[2016-10-26 11:51] halkar opened #9 "Add thumb release event"

[2016-10-26 22:48] rudyryk opened #10 "Can't use in PCL project"
[code]

I believe that should not be a problem to provide PCL assembly for [`Xamarin.RangeSlider.Forms`](https://github.com/halkar/xamarin-range-slider/blob/master/Xamarin.RangeSlider.Forms/)

[2016-10-26 22:53] rudyryk commented on #10
I see that issue #8 is the same case. Hmm... I think I'll try to build PCL assembly and make a PR.

[2016-10-26 23:58] rudyryk commented on #10
I'm sorry, seems like I missed the fact there are actually 2 packages - one for Forms and one for "plain" Xamarin. Package for Forms is working with PCL - at least installing and compiling.

Probably this should be somehow highlighted in README.

[2016-10-27 11:25] halkar commented on #10
@rudyryk thank! I'll update Readme to make it more clear.

[2016-10-27 11:25] #10 closed

[2016-10-27 11:41] #9 closed

[2016-10-27 11:41] halkar opened #12 "Thumb position not updated when set from code"

[2016-10-27 11:49] #12 closed

[2016-11-02 11:53] halkar opened #13 "Add disabled state"

[2016-11-03 22:53] #13 closed

[2016-11-09 14:20] roninua opened #16 "Thumb vector drawable crashed app."
I set vector drawable for thumb, normal, pressed, disabled a XML drawable.
I want to use my shapes, maybe vectorDrawable.

`var thumbNormal = Resource.Drawable.thumb_normal;`

_drawable/thumb_normal.xml :_

`<?xml version="1.0" encoding="UTF-8"?>
<shape xmlns:android="http://schemas.android.com/apk/res/android">
  <solid android:color="#bada55"/>
  <stroke android:width="10dp" android:color="#fff"

[2016-11-09 15:50] rudyryk opened #17 "Feature request: allow separate text formatting for lower and upper values"
Currently we have a `TextFormat ` property, it would be great to have extra optional `LowerTextFormat ` and `UpperTextFormat` ones.

For example, I'd want to treat maximum upper value as unlimited and display "Unlimited" label when upper handler is at right most position.

[2016-11-14 00:26] halkar commented on #17
@rudyryk hm... interesting, will add this to the backlog.

[2016-11-14 00:28] halkar commented on #16
Thanks @roninua, I'll check it today.

[2016-11-14 15:58] Zolee007 opened #18 "LowerValueChanged and UpperValueChanged events are not fired on Android"
`LowerValueChanged` and `UpperValueChanged` events are not fired, if `NotifyWhileDragging` is `false`.
The probable cause of it relies in `OnTouchEvent`'s `MotionEventActions.Up` case, where `_pressedThumb` is set to `null`, before the checks on events, so they will be never raised.

The mentioned code piece:
[code]

If possible only set `_pressedThumb` to `null` after the events where checked and

[2016-11-14 21:03] halkar commented on #18
Thanks @Zolee007, will investigate.

[2016-11-15 10:04] halkar opened #19 "Text overlaps thumb"
<img width="368" alt="screen shot 2016-11-15 at 21 03 44" src="https://cloud.githubusercontent.com/assets/1992396/20301348/0e4ab474-ab77-11e6-868a-2d13ee3a8d89.png">

[2016-11-15 10:19] #19 closed

[2016-11-15 10:48] halkar commented on #16
@roninua I can't reproduce your issue

Activity layout
[code]

thumb_normal
[code]

[2016-11-15 10:49] halkar commented on #16
@roninua can you share small project reproducing issue?

[2016-11-15 11:29] halkar commented on #18
@Zolee007 issue should be fixed in version 0.6.2.

[2016-11-15 11:29] #18 closed

[2016-11-15 12:20] Zolee007 commented on #18
@halkar You are awesome, thank you.

[2016-11-15 13:01] halkar commented on #16
Or if you can provide me with full stack trace.

[2016-11-15 21:38] CodePhobie opened #23 "NullReferenceException in UWP when unloading the control"
In the file _Xamarin.RangeSlider.Forms.WinRT.Shared\RangeSeekBarRenderer.cs_ Line: 25 in method _OnElementChanged_ causes an exception when the RangeSlider gets unloaded. The property _Element_ is NULL.

[2016-11-15 21:40] halkar commented on #23
Thanks @CodePhobie, will investigate.

[2016-11-16 12:45] halkar commented on #23
@CodePhobie I've updated the nuget packages. Could you please check if exception persists in version 0.6.3?

[2016-11-16 13:22] CodePhobie commented on #23
Perfect, problem fixed, it works like a charm 👍
Thank you

[2016-11-16 13:33] #23 closed

[2016-11-17 03:25] halkar commented on #16
@roninua ping!

[2016-11-18 06:56] halkar commented on #16
@roninua if you are still experiencing this issue please comment and reopen.

[2016-11-18 06:56] #16 closed

[2016-11-21 16:01] CatherineSD opened #25 "Error with Nuget Package on Xamarin iOS"
I'm using the nuget package on Xamarin iOS and I've added a Range Slider Control to one of my View Controller in the storyboard. Each time I have to change the view controller containing the slider, the designer file of my view is changed and write:
`[GeneratedCode ("iOS Designer", "1.0")]
Xamarin.RangeSlider.RangeSeekBar MyRange { get; set; }`

This cause the error "Xamarin.RangeSlider.RangeSeekB

[2016-11-21 20:43] halkar commented on #25
Thanks @CatherineSD
I believe I know why it happens. Will try to fix this issue today.

[2016-11-22 11:05] halkar commented on #25
@CatherineSD can you try adding `var type = typeof(RangeSliderControl);` somewhere in your `AppDelegate.FinishedLaunching`?

[2016-11-22 15:05] CatherineSD commented on #25
@halkar  Thanks for your response. I tried what you said but I don't know how it could help, because the error "Xamarin.RangeSlider.RangeSeekBar is inaccessible due to its protection level" appears on compilation...

[2016-11-22 20:32] halkar commented on #25
thanks @CatherineSD, that helps!

[2016-11-23 12:07] halkar commented on #25
@CatherineSD try downloading new nuget packages v 0.6.4

[2016-11-23 15:06] CatherineSD commented on #25
Thanks @halkar , I downloaded the new package and the problem seems to be fixed :) I will contact you if I encounter this bug again!

[2016-11-23 20:12] #25 closed

[2016-11-23 20:13] halkar commented on #25
Thanks @CatherineSD

[2016-11-24 18:53] CodePhobie opened #27 "System.Reflection.TargetInvocationException on iPhone"
Hi,
tried to run an app using your Range-Slider on an iPhone today. Unfortunately caused the package an error at runtime:
_System.Reflection.TargetInvocationException: Exception has been thrown by the target of an invocation. ---> Xamarin.Forms.Xaml.XamlParseException: Position 110:10. Type forms:RangeSlider not found in xmlns clr-namespace:Xamarin.RangeSlider.Forms;assembly=Xamarin.RangeSlider.Fo

[2016-11-24 19:07] halkar commented on #27
@CodePhobie yes, you need to add something like this in your `AppDelegate`
<img width="666" alt="screen shot 2016-11-25 at 06 05 55" src="https://cloud.githubusercontent.com/assets/1992396/20608357/5d6d8f58-b2d5-11e6-819e-a3241db92942.png">

[2016-11-27 20:19] halkar commented on #27
@CodePhobie does it fix your issue?

[2016-11-28 20:03] halkar commented on #27
Closing the issue.

[2016-11-28 20:03] #27 closed

[2016-11-30 14:32] CodePhobie commented on #27
Yes, adding the attribute fixed the problem.
Don't have an own iPhone, so I could test it just now.
Thx

[2016-12-01 19:58] CatherineSD opened #29 "Trouble with step value on Xamarin.iOS"
Hi, I'm using the Xamarin nuget package on Android and iOS (not Forms). I want a slider with a step value of 10 going from 0 to 100 and I want to be able to freely changed the value of the slider and the snap to step value occurs only when I let go.

On Android, it is working nicely, but I have trouble on iOS. Even without step value, the slider control is "jittering", it is hardly moving freely a

[2016-12-01 20:03] halkar commented on #29
Thanks @CatherineSD, I'll investigate.

[2016-12-01 20:21] CatherineSD commented on #29
@halkar I just tested some more and for the "jittering", it seems that sometimes the movement is done correctly (smoothly without stopping), but I cannot do it on purpose. It is maybe a collider problem? Is it the lign or the thumb that catches the touch events?

[2016-12-01 20:29] halkar commented on #29
@CatherineSD touch is handled by the control itself and then checks which thumb is touched.

[2016-12-01 22:03] CatherineSD opened #30 "Feature request: allow to add culture variant textformat"
Hi, this is an improvement request. For now, with the textFormat, it is possible the use "C" to specify currency, but we cannot specify which culture to use (e.g. american dollar, canadian dollar, etc.) It would be great to have a field to specify which culture to use in the format :)

Thanks!

[2016-12-01 22:22] halkar commented on #30
@CatherineSD to make it clear. Do you want to use currency different to your current local settings?

[2016-12-01 22:29] CatherineSD commented on #30
@halkar Yes, to be able to have something similar to String.Format(culture, format, value); where culture can be set like: culture = CultureInfo.CreateSpecificCulture("da-DK").

[2016-12-01 22:31] halkar commented on #30
Hm.. ok, should be easy to implement.

[2016-12-01 22:32] CatherineSD commented on #30
Thanks a lot for your help!

[2016-12-01 22:33] halkar commented on #30
@CatherineSD no worries, just don't expect new version to be released before the end of this weekend.

[2016-12-01 22:34] CatherineSD commented on #30
@halkar It's ok for me :)

[2016-12-03 08:51] halkar commented on #29
@CatherineSD unfortunately I can't reproduce the issue :(

[2016-12-04 10:53] halkar commented on #30
@CatherineSD I've added `FormatLabel` method which you can use to format label as you like. Please check out v0.6.5.

[2016-12-04 10:53] #30 closed

[2016-12-04 10:54] halkar commented on #17
@rudyryk  I've added `FormatLabel` method which you can use to format label as you like. Please check out v0.6.5.

[2016-12-04 10:54] #17 closed

[2016-12-05 13:04] halkar commented on #30
@CatherineSD sorry, v0.6.5 is broken, please check out v0.6.6.

[2016-12-05 13:04] halkar commented on #17
@rudyryk  sorry, v0.6.5 is broken, please check out v0.6.6.

[2016-12-05 15:04] CatherineSD commented on #30
@halkar Thanks, I will try it today.

[2016-12-05 15:07] CatherineSD commented on #29
@halkar Thanks for your help. I will look into the problem again today myself. Would it helped if I send you a test project with the problem?

[2016-12-05 16:02] CatherineSD commented on #30
@halkar I updated to the last package in my project. When trying to set the FormatLabel, I get the error "The type Xamarin.RangeSlider.Common.Thumb is defined in an assembly that is not referenced. Consider adding a reference to assembly 'Xamarin.RangeSlider.Common'...". I tried to remove and readd the package, closing Xamarin Studio and reopening it, but it does not seems to update the references

[2016-12-05 21:19] CatherineSD commented on #29
@halkar After many tests, I finally found the sources of the problem. For the step values, I had to simply replace `Slider.StepValueContinuously = false;` by `Slider.StepValueContinuously = true;` (maybe I didn't read the doc correctly for that one).

For the "jittering" problem, it is a bit more complex. It occurs because of another package I use in my project: Xamarin.SideBar (https://github.com

[2016-12-05 21:53] halkar commented on #30
@CatherineSD please check that you are working with v0.6.6 and not v0.6.5.

[2016-12-06 17:22] CatherineSD commented on #30
@halkar I check on both Android and iOS that the package is v0.6.6, but the problem remains. I even tried to create a new project and add the v0.6.6 package, but with that version, I can't even add a RangeSlider control in the storyboard. I have to backtrack to v0.6.4 to add the control.

[2016-12-06 20:01] halkar commented on #30
@CatherineSD thanks!

[2016-12-07 12:28] halkar commented on #30
Sorry @CatherineSD, please check out v0.6.7.

[2016-12-07 16:06] CatherineSD commented on #30
@halkar Everything works perfectly now! Thanks for your time :)

[2016-12-09 10:10] halkar opened #34 "[Android] [iOS] [UWP] Thumb labels overlap"
![simulator screen shot 9 dec 2016 21 09 51](https://cloud.githubusercontent.com/assets/1992396/21045292/e5d0d42a-be53-11e6-862a-5835737f519b.png)

[2016-12-09 10:16] halkar opened #35 "[Android] Labels are not displayed when both tumbs in default position"
![nexus 5 lollipop screenshot 2](https://cloud.githubusercontent.com/assets/1992396/21045499/c49cf206-be54-11e6-8798-5f7e95ec7b16.png)
![nexus 5 lollipop screenshot 1](https://cloud.githubusercontent.com/assets/1992396/21045500/c4a00ad6-be54-11e6-9716-52bac331406e.png)

[2016-12-09 11:24] #35 closed

[2016-12-14 23:20] willowvil opened #38 "Lowervalue & Uppervalue -> thumb wrong position"
When setting lowervalue and uppervalue, thumb position is not correct

[code]

![sin titulo](https://cloud.githubusercontent.com/assets/19213951/21205338/fa58c194-c25b-11e6-8721-ab3f726ca38c.png)

[2016-12-17 22:42] halkar commented on #38
Fixed in v0.6.9.

[2016-12-19 08:01] willowvil commented on #38
Hi @halkar thanks for fixing this. I have found a little bug. When declaring the RangeSlider, I set an UpperValue, however the thumb position is not correct. After the control has been declared, setting UpperValue works correctly.

Thanks!

[2016-12-19 08:52] halkar commented on #38
@willowvil what do you mean by "When declaring" and "After the control has been declared"? Can you provide some source code?

[2016-12-19 09:29] willowvil commented on #38
Sorry! Better with an example:

[code]
Result:
![uno](https://cloud.githubusercontent.com/assets/19213951/21307433/c3ccc120-c5d5-11e6-8fc2-ac702130f616.png)

Then, I change UpperValue with a button and then it works great:

![dos](https://cloud.githubusercontent.com/assets/19213951/21307483/f39f39a0-c5d5-11e6-94ff-6b17495c75d5.png)

[2016-12-19 10:17] halkar commented on #38
@willowvil I can't reproduce the issue on the latest version (v0.6.9).

[2016-12-19 10:31] willowvil commented on #38
Ok. I have reinstalled (v0.6.9), cleaned my project and rebuilt it. Now is working. Sorry ;) and thanks!!

[2016-12-19 10:32] #38 closed

[2016-12-19 18:48] CodePhobie opened #40 "UWP Compiler Warning 'Detected package downgrade'"
The _Xamarin.Forms.RangeSlider_ package causes compiler warnings in VisualStudio 2015 when using it in an UWP-App:
_Warning: Detected package downgrade: Xamarin.Forms from 0.0.0 to 2.3.3.175
 App.UWP (>= 1.0.0) -> Xamarin.Forms.RangeSlider (>= 0.6.8) -> Xamarin.Forms
 App.UWP (>= 1.0.0) -> Xamarin.Forms (>= 2.3.3.175)_

[2016-12-19 20:46] halkar commented on #40
`Xamarin.Forms.RangeSlider` doesn't have any version requirements for `Xamarin.Forms`.

[2016-12-20 22:46] pvillads opened #41 "Lower value is incorrect when MinimumValue is not 0"
The control is currently useless, since the system will not work with Minimum values greater than 0. Say the minimum value property is 40 and you set the Lower value to 50, the reading is set to 90, not 50, since 90 = 40 + 50.

This is not true for the UpperValue, in which case it would be consistent, at least. You can see this behavior in the attached project. It simply defines a page with a slid

[2016-12-20 22:53] halkar commented on #41
@pvillads is it on Android/iOS/UWP?

[2016-12-20 23:09] halkar commented on #41
@pvillads I've tested on Android and iOS.
At the moment in your sample I see both Lower and Upper values changing from 40 to 200. Same changes are reflected in the view-model.
<img width="112" alt="screen shot 2016-12-21 at 10 09 15" src="https://cloud.githubusercontent.com/assets/1992396/21371449/902d280a-c765-11e6-9095-b6c33e4c2062.png">
<img width="399" alt="screen shot 2016-12-21 at 10 09 07"

[2016-12-22 02:38] pvillads commented on #41
Artur,

Thank you for devoting some attention to this issue.

I can repro the problem at will on 0.6.9. The way to do it is simply to open the project and run on android. When you do, you will see that the low value is set to 90, not 50, as it should be. It is perfectly possible to drag the slider at will; the problem is that it starts with the wrong value

I am running on the newest version of ev

[2016-12-22 02:49] halkar commented on #41
Thanks @pvillads. I managed to reproduce the issue. Working on it.

[2016-12-22 12:55] halkar commented on #41
Thanks @pvillads. Should be fixed in v0.6.10.

[2016-12-23 01:15] pvillads commented on #41
Confirming that 0.6.10 solves the problem

From: Artur Shamsutdinov [mailto:notifications@github.com]
Sent: Thursday, December 22, 2016 4:56 AM
To: halkar/xamarin-range-slider <xamarin-range-slider@noreply.github.com>
Cc: Peter Villadsen <Peter.Villadsen@microsoft.com>; Mention <mention@noreply.github.com>
Subject: Re: [halkar/xamarin-range-slider] Lower value is incorrect when MinimumValue is not

[2016-12-23 01:16] #41 closed

[2016-12-23 01:21] pvillads opened #43 "The rangeslider does not render on windows phone"
The windows phone version of the rangeslider does not render. Repro: Build a simple page with a range slider (you may repro with the sample I already provided for another problem). The WP screen will be blank, and not show a range slider.

I suspect the problem is that the correct assemblies are not installed as part of the nuget install. I only see references to:

xamarin.rangeslider.common
xamar

[2016-12-23 01:23] pvillads opened #44 "Rendering rangeslider on UWP results in an exception"
Please reuse the repro project I submitted for a previous problem.

When running the form with UWP an exception is thrown:

Could not load file or assembly 'System.Runtime.WindowsRuntime.UI.Xaml, Version=4.0.1.0, Culture=neutral, PublicKeyToken=b77a5c561934e089' or one of its dependencies. The located assembly's manifest definition does not match the assembly reference. (Exception from HRESULT: 0x

[2016-12-23 01:27] pvillads opened #45 "Windows 8.1 projects with rangeslider do not compile"
Please repro with the previously submitted project

Make the Windows 8.1. project the current project and build. You will get these build errors:

The type or namespace name 'ExportRendererAttribute' does not exist in the namespace 'Xamarin.Forms' (are you missing an assembly reference?)
The type or namespace name 'ExportRenderer' does not exist in the namespace 'Xamarin.Forms' (are you missing an

[2016-12-23 01:32] halkar commented on #41
Thanks for your help @pvillads!

[2016-12-23 01:33] halkar commented on #43
@pvillads just to make thing clear Windows Phone is Windows Phone or UWP. Windows Phone is not supported.

[2016-12-26 23:30] xplatsolutions opened #46 "How to change the line color"
Is there a way to change the hair line color that I can't see?

[2016-12-27 12:38] Dimabiz opened #47 "Linking Assemblies doesn't work"
After Add Xamarin.RangeSlider to Xamarin.Android project, i have problem with copilate realese version (Link SDK Assemblies):
[code]

Can you help me?

[2016-12-27 16:54] xplatsolutions commented on #46
TintColor was the answer. Thanks.

[2016-12-27 16:54] #46 closed

[2016-12-29 10:33] halkar commented on #47
@Dimabiz by any chance do you have a sample project to reproduce the issue?

[2016-12-29 10:59] Dimabiz commented on #47
@halkar my project is commercial, I can not show code, sorry. I solved the problem, in source code range-slider i replace all "a.GetColor" in RangeSliderControl.cs, on static Color value.
P.S. Sorry for my English.

[2016-12-29 20:26] halkar commented on #47
@Dimabiz which minimum and target android version are you using?

[2016-12-29 21:00] Dimabiz commented on #47
minimum - API 15 (Android 4.0.3)
target - API 21 (Android 5.0)

[2016-12-29 23:03] halkar commented on #47
Thanks @Dimabiz I will investigate.

[2017-01-09 17:06] triplumix opened #48 "iOS 9.0 - slider is not visible"
I use the code below to display the range slider, but except the background color (pink, as set) I can not see any elements on that slider.

[code]

I see that the images are inside the "Resources" folder, but my app uses "Images" folder, however, I think that this does not explain why the textfields are not visible...

Any ideas on this issue?

[2017-01-09 17:06] triplumix commented on #48
Works just fine on Android

[2017-01-09 20:41] halkar commented on #48
1. Are you experiencing problems on iOS?
2. Is this Xamain.Forms?
3. Can you share you project XAML?
4. Try adding this code to your AppDelegate
[code]

[2017-01-09 20:56] triplumix commented on #48
Sorry for not giving enough informations.

1. Yes, on iOS only;
2. Yes, it is XF;
3. I do not use XAML. I shared the code above and I add the slider to a relative layout. I tried setting a bigger height/width and also not setting them, same result. I believe that the slider is added to the layout and somehow visible, since I can see the pink color in background (BackgroundColor = Color.Pink)
4. I

[2017-01-09 21:29] halkar commented on #48
@triplumix try code I provided.
`[assembly: ExportRenderer(typeof(RangeSlider), typeof(RangeSliderRenderer))]`

[2017-01-10 12:21] woutermeuwis commented on #48
I think i'm stuck with the same issue on iOS 10.2
i create the component in XAML, and the code in appdelegate does not fix this

[2017-01-11 03:33] halkar commented on #48
@triplumix @woutermeuwis I will need your XAML/code to replicate the issue.

[2017-01-11 16:00] triplumix commented on #48
Code

[code]

Result:

http://imgur.com/a/SL0lV

Thanks

[2017-01-11 16:18] triplumix commented on #48
**Update:**

Works just fine on a empty new project...

Any ideas?

[2017-01-11 16:37] triplumix commented on #48
Found the **_solution_**

You need to **_add `Xamarin.Forms.RangeSlider` package_** (NOT Xamarin.RangeSlider, this is added later as a dependency, from what I can see).

I started with an Xamarin.Forms with Android only and later added iOS to the Forms project and added every package, one by one, and by mistake I was looking at Xamarin.RangeSlider instead of `Xamarin.Forms.RangeSlider`

Thanks you

[2017-01-12 02:58] halkar commented on #48
@triplumix didn't test it with MD. Will try it asap.

[2017-01-19 13:50] NishaSlb opened #49 "Attribute already defined issue."
Hi,

I am getting following error:

"Attribute Showlabel" is already been defined.

 I am using telerik in my project and whenever I add Range slider in my package and compile the project I get the above mentioned error for android.

Can you please help me in resolving the issue.

Regards,
Nisha

[2017-01-20 05:27] halkar commented on #49
Thanks @NishaSlb

Can you provide some small test project reproducing the issue?

[2017-01-20 09:51] NishaSlb commented on #49
Following is the link from where you can download the sample project.

https://github.com/Akshay1988/Range-Slider-CompilationIssue.git

When I compile the above project I get following error.

Error APT0000: Attribute "showLabels" has already been defined (APT0000)

Appreciate your help :)

[2017-01-23 10:08] NishaSlb commented on #49
Have you find the solution to the above problem ?

[2017-01-24 04:06] hsl2017 opened #50 "Range Slider in UWP"
Hi,

I meet a problem when using it.
In UWP, when the page appearing, if the lower value is not equal to the minvalue, the upper value is always equal to the lower value.

Firstly I thought there was something wrong when binding, but then I try this:

                                      <forms:RangeSlider Grid.Row="0"
                                     ShowTextAboveThumbs="True"  MinimumValue=

[2017-01-24 04:19] halkar commented on #50
I'll take a look on this one.

[2017-01-24 10:52] NishaSlb commented on #49
Artur,

Please let me know if you need any more information regarding the same.

Can you please look into this on priority.

Regards,
Nisha

[2017-01-24 21:47] halkar commented on #49
@NishaSlb sorry, I'll check it out tomorrow.

[2017-01-25 09:09] halkar commented on #49
@NishaSlb I can build your project without any issue. And `RangeSlider` is not used on the page. Is this how you wanted it to be?

[2017-01-25 09:16] halkar commented on #49
Adding RangeSlider into the page doesn't break the project too.

[2017-01-25 09:27] NishaSlb commented on #49
I have used Range slider in my project for both ios and android.
Its working fine on IOS but for android when I compile it gives me that error.
When I remove the range slider package from my Application, the app compiles fine.

[2017-01-25 10:14] halkar commented on #49
Weird.

[2017-01-25 10:51] NishaSlb commented on #49
Are you able to see charts ?

[2017-01-25 10:52] NishaSlb commented on #49
Are you able to run the application on the phone(Android) and see the chart ?

[2017-01-25 11:17] halkar commented on #49
@NishaSlb which Android version are you running?

[2017-01-25 11:48] halkar commented on #49
I've tried Android 6.0.1 and 7.1.1 on real devices, and 5.0 on emulator.

[2017-01-30 09:09] NishaSlb commented on #49
I tried on Android 6.0 (real device)[API 23]

Xamarin Studio (6.1.1)

Xamarin.Android
Version: 6.1.2.21 (Xamarin Enterprise)
Android SDK:
	Supported Android versions:
		6.0 (API level 23)

SDK Tools Version: 25.2.3
SDK Platform Tools Version: 25.0.1
SDK Build Tools Version: 23.0.2

[2017-01-31 11:51] blahiry opened #51 "Android: Not able build the application."
Hi Artur,
I am facing a issue like "showLabels" already defined when I am trying to build the application in android. I am using telerik dlls in my application to create some charts and your RangeSlider to select a time period. Now inside "attr.xaml" there is a attribute named "showLabels", which is making a issue for me. Need your help sir.

[2017-01-31 12:30] NishaSlb commented on #49
I updated my Xamarin studio and Xamarin Android to the latest version, but still it is not working.

I think Showlabel attribute is only used once in attr file in RangeSlider, Is it possible for you to rename it ?

[2017-01-31 19:56] hsl2017 commented on #50
Hi, Halkar, is this problem still there?

[2017-01-31 20:57] halkar commented on #49
Thanks! I'll try to work on this today.

[2017-01-31 21:31] halkar commented on #50
Yes, haven't had a chance to fix. Will try to work on this one today/tomorrow.

[2017-02-01 00:15] hsl2017 commented on #50
Thank you!

[2017-02-01 12:08] halkar commented on #40
Fixed in https://github.com/halkar/xamarin-range-slider/pull/52

[2017-02-01 12:08] #40 closed

[2017-02-05 04:57] halkar commented on #44
Fixed in https://github.com/halkar/xamarin-range-slider/pull/53
Will be available in next release.

[2017-02-05 04:57] #44 closed

[2017-02-05 06:47] halkar commented on #45
Fixed in https://github.com/halkar/xamarin-range-slider/pull/54

[2017-02-05 06:47] #45 closed

[2017-02-05 06:47] #43 closed

[2017-02-05 08:06] halkar commented on #50
Fixed in https://github.com/halkar/xamarin-range-slider/pull/55

[2017-02-05 08:06] #50 closed

[2017-02-05 08:07] halkar commented on #51
https://github.com/halkar/xamarin-range-slider/issues/49

[2017-02-05 08:07] #51 closed

[2017-02-05 09:04] halkar commented on #49
Fixed in https://github.com/halkar/xamarin-range-slider/pull/56

[2017-02-05 09:04] #49 closed

[2017-02-05 09:41] halkar commented on #48
@triplumix TBH, I would recomend setting `IsGestureEnabled` to `false`.

[2017-02-05 09:41] #48 closed

[2017-02-05 11:07] halkar commented on #47
Fixed in https://github.com/halkar/xamarin-range-slider/pull/57

[2017-02-05 11:07] #47 closed

[2017-02-06 08:43] NishaSlb commented on #49
Thanks Artur :)

[2017-02-07 00:16] halkar opened #58 "Unify code and public interface between platforms."

[2017-02-20 22:50] CodePhobie opened #59 "How to change the Thumb color using a PlatformEffect?"
Hi,
how is it possible to change the color of the thumb using a PlatformEffect on Android and iOS?
For the normal _Slider_ (Android _SeekBar_; iOS _UISlider_) it is very simple:
https://blog.xamarin.com/customizing-xamarin-forms-controls-with-effects/

Changing the _ActiveColor_ of the _RangeSlider_ is also easy but the thumb of the _RangeSlider_ is a _Bitmap_ and not a _Drawable_. Do you have a s

[2017-02-25 04:20] halkar commented on #59
Ok, there is no "easy" way. But why not to create a drawable and use it?

[2017-02-25 04:22] halkar commented on #59
Anyway, I'll try to work something out.

[2017-03-08 22:00] CodePhobie commented on #59
Found an easy way to theme your RangeSlider.
**Here is the solution for Android:**
`using Android.Graphics;
using Android.Graphics.Drawables;
using Xamarin.Forms;
using Xamarin.Forms.Platform.Android;

[assembly: ExportEffect(typeof(Droid.Effects.RangeSliderEffect), nameof(Droid.Effects.RangeSliderEffect))]

namespace Droid.Effects
{
    public class RangeSliderEffect : PlatformEffect
    {

[2017-03-27 19:28] mariolobar commented on #59
Hi
How can apply the effect?
And have you got the same in iOS?
Thank you

[2017-03-28 07:12] michelmoorlag opened #60 "Does not work properly in IOS master detail page"
Issue 1.
The control is really nice but I have some issues. On android if you put this control in the detail of a master detail page it works all fine. This is because you have to slide open the menu from the left side. On IOS however you can slide open the master menu from any place in the screen by swiping to the right. So if you swipe the slider to the right it will move a small portion. Then i

[2017-03-28 08:10] halkar commented on #60
@michelmoorlag
1. For the first issue I can only recommend setting `IsGestureEnabled` to `false`.
https://github.com/halkar/xamarin-range-slider/issues/48#issuecomment-277507653
I will try to fix it but can't guarantee any positive results.
2. Thanks! I'll fix it ASAP.

[2017-03-28 23:21] CodePhobie commented on #59
@mariolobar here is a good tutorial how to use effects:
https://developer.xamarin.com/guides/xamarin-forms/application-fundamentals/effects/creating/

On iOS I changed only the color of the selected range and not of the thumb:

`using Xamarin.Forms;
using Xamarin.Forms.Platform.iOS;

[assembly: ExportEffect(typeof(iOS.Effects.RangeSliderEffect), nameof(iOS.Effects.RangeSliderEffect))]

namespace F

[2017-03-28 23:40] halkar commented on #59
I will try to make thumbs editable but it requires some changes.

[2017-03-30 12:39] michelmoorlag commented on #60
@halkar
To reproduce issue 1 just create a basic XF master detail page and put the range slider in a detail page.
I could disable the IsGestureEnabled on the master but I really like this feature.  So if you can make this work within a master detail configuration you will be my best friend ... ever :)

[2017-04-03 10:21] halkar commented on #60
Both fixed in 0.6.16

[2017-04-03 10:21] #60 closed

[2017-04-03 10:21] halkar commented on #48
Fixed in 0.6.16

[2017-04-07 18:41] rvlira opened #63 "[iOS] Getting "Unknown class RangeSlider in Interface Builder file.""
After creating a new Universal Single View Xamarin.iOS  app project on Visual Studio 2015, I installed RangeSliderControl using the nuget package.

I was able to drag the control from the toolbox to the storyboard and configure all settings.

When I try to run the project, I get this message: "Unknown class RangeSlider in Interface Builder file". The component does not show on the emulator when ru

[2017-04-08 02:15] halkar commented on #63
@rvlira should work without any additional effort. I'll check.
Thank you!

[2017-04-14 20:41] xplatsolutions opened #64 "[iOS] Problem with setting the UpperValue and LowerValue programmatically"
Setting the UpperValue and LowerValue programmatically after the View is appeared does not update the control until it receives a touch event in the View area.

In my XIB I have a UIView where I set the class to `RangeSlider` and setting initial values, works great! Strange issue is after the View appears I set the LowerValue and UpperValue programmatically again but nothing happens until the Rang

[2017-04-14 22:34] xplatsolutions commented on #64
Calling SetNeedsLayout in ViewWillLayoutSubviews did the job. I would recommend callign this method maybe when setting the UpperValue and LowerValue.

[2017-04-15 02:29] halkar commented on #64
Thanks @xplatsolutions

[2017-04-15 02:38] xplatsolutions commented on #64
No problem, thanks for the RangeSlider :-)

[2017-04-15 07:31] halkar commented on #63
@rvlira problem is in Xamarin iOS linker behavior.

Just add `var t = typeof(RangeSliderControl);` somewhere in your `AppDelegate.cs` to prevent `RangeSliderControl` from being excluded from the build.

[2017-04-15 14:03] halkar commented on #64
Fixed in 0.6.17.

[2017-04-15 14:03] #64 closed

[2017-04-16 03:06] #63 closed

[2017-04-16 14:12] halkar commented on #59
@mariolobar I've updated readme to make it more clear how to customize slider.

[2017-04-16 14:12] #59 closed

[2017-05-09 11:58] henrick-tissink opened #66 "Moving slider rapidly crashes the app"
Hi,

I'm currently using this slider in my app, and moving the slider rapidly seems to crash the iOS version of the app. The android version is fine.

The crash seems to occur when the values get set in the element,

        public void OnLowerValueChanged(float value)
        {
            LowerValue = value;
            LowerValueChanged?.Invoke(this, EventArgs.Empty);
        }

        public

[2017-05-15 00:25] halkar commented on #66
Thanks @henrick-tissink
I'll have a look as soon as I can.

[2017-05-15 10:24] henrick-tissink commented on #66
Hi Halkar,

Seemed to be a problem in a currency converter in our app.

Sincerest apologies, and thanks for the great slider!

[2017-05-26 04:04] #66 closed

[2017-06-01 11:45] amit04jain opened #69 "System.ObjectDisposedException: Cannot access a disposed object."
Hi,
Getting below error

Xamarin caused by: android.runtime.JavaProxyThrowable: System.ObjectDisposedException: Cannot access a disposed object.
Object name: 'Android.Graphics.RectF'.
Java.Interop.JniPeerMembers.AssertSelf(IJavaPeerable self)<283b4b1e03f54fee85a79f83eb627def>:0
Java.Interop.JniPeerMembers.JniInstanceMethods.InvokeVirtualVoidMethod(string encodedMember, IJavaPeerable self, JniArgum

[2017-06-01 20:00] halkar commented on #69
@amit04jain how to reproduce this issue? Do you have a sample project?

[2017-06-05 08:57] matteopiccioni opened #70 "Request: Circular slider"
Hello,
could be nice to have a circular slider,

do you think will be possibile in next releases?
Thanks

[2017-06-07 01:15] halkar commented on #70
@matteopiccioni, unfortunately, I don't have time to implement this functionality right now. I'll leave it up for grabs though.

[2017-06-27 11:41] halkar opened #71 "Add support for .net standard"

[2017-07-04 08:58] roman-morev opened #72 "Show min and max values"
Hi.
How can i show min and max value labes when RangeSlider are shown for the first time and min and max values is selected?

[2017-07-04 09:05] roman-morev commented on #72
rangeSlider.ActivateOnDefaultValues = true;

[2017-07-04 09:05] #72 closed

[2017-07-11 18:16] bandito707 opened #73 "Label text color"
Is it possible to modify the text color above the thumbs?

[2017-07-16 20:59] hejjahejja opened #74 "Is not visible in UWP"
The entire component is gone. Works in Android.
Running latest version of the slider.

[2017-07-16 21:05] halkar commented on #74
@hejjahejja do you have a sample project to reproduce the issue?

[2017-07-16 21:13] halkar commented on #73
@bandito707 at the moment you can change text color on Android but not on other platforms. See https://github.com/halkar/xamarin-range-slider#change-thumb-image to find how to access platform-specific properties.

[2017-07-16 21:17] hejjahejja commented on #74
@halkar I'll get you one. By the way I'm debugging my UWP with 'Local machine', does it matter?

[2017-07-16 21:21] halkar commented on #74
@hejjahejja thanks! No, the element should work in any environment.

[2017-07-16 21:34] hejjahejja commented on #74
Weird, I created a new project. The slider was there, went back to the project where the problem were. But it worked. So perhaps this should be closed.
Another thing that I notice, If it's only a tag like this '<forms:RangeSlider />, then there are nothing to drag. I needed to set lower and upper value.

[2017-07-16 21:38] hejjahejja opened #75 "LowerValueChanged isn't called on UWP"
That event or UpperValueChanged isn't called on UWP (Android works). It's straight forward, you should reproduce this bug easy.

[2017-07-16 23:03] halkar opened #76 "Use GitVersion"

[2017-07-29 12:23] #74 closed

[2017-07-29 12:31] halkar commented on #75
Fixed in 0.6.18.

[2017-07-29 12:31] #75 closed

[2017-08-06 04:38] halkar commented on #76
Implemented in 0.6.19

[2017-08-06 04:38] #76 closed

[2017-08-08 03:40] slam023 opened #79 "Android : LowerValue binding not correct"
I tried to bind the values to the lower value and the upper value but the lower value is not shown the right value. My model have 5 as lower value but the range slider will display 4. The upper value seems fine though.

[2017-08-08 03:42] halkar commented on #79
@slam023 do you have a sample project to reproduce the issue?

[2017-08-08 11:45] slam023 commented on #79
I changed the code so don't have the sample code to show you.

The configuration I have for the slider:

Minimum value = 0 and Maximum value = 20.  LowerValue and UpperValue is bound with my properties. The step values is 0 and not continuous.

[2017-08-08 12:26] halkar commented on #79
Thanks @slam023 I'll have a look.

[2017-08-08 17:21] Goldstrike opened #80 "Android: can't build"
Hello,

I tried to build the Xamarin.Forms Droid sample but it didn't work.

I get some errors in the "values.xml" file, as we can see in this [screenshot](https://img4.hostingpics.net/pics/565039AndroidErrorsValuesXml.png).

Would you have any explanation? For iOS and UWP I get no problem...

[2017-08-08 21:25] halkar commented on #80
@Goldstrike considering that all those errors are not related to my code you need to check if you have the correct version of Android SDK installed on your machine.

[2017-08-10 11:54] Goldstrike commented on #80
Which version of Android are you using?
I've tried to migrate the Target Framework from Android 7.1 to Android 6.0, but this didn't change anything...
I have up to date the [Android SDK Manager](https://img4.hostingpics.net/pics/678185AndroidSdkManager.png), but I always have the same error.
Finally, I asked a colleague to test the sample on it's computer: he meets the same problem than me.

[2017-08-10 12:26] halkar commented on #80
@Goldstrike just to make things clear, are you trying to build the library itself or your project uses library/nuget?

[2017-08-10 12:28] Goldstrike commented on #80
I try to build the sample project (Xamarin.RangeSlider.Forms.Samples.Droid)

[2017-08-13 03:33] #73 closed

[2017-08-13 03:33] halkar commented on #73
Implemented in 0.7.0

[2017-08-13 03:38] halkar commented on #80
@Goldstrike check out latest master.

[2017-08-13 03:46] #80 closed

[2017-08-13 07:33] halkar commented on #79
@slam023 I can't reproduce the issue. Can you check https://github.com/halkar/xamarin-range-slider/compare/feature/mvvm-test ?

[2017-08-14 08:29] Goldstrike commented on #80
Thank you it works fine now!

[2017-08-17 22:15] rvlira commented on #34
Hi! I just got this issue on iOS and what's messing with my head is that I implemented that on Android and it works.

I had a look on iOS version code (trying to come up at least with a workaround) but I'm new enough on iOS that I only know positioning through constraints (autolayout). This component seems to use a different method.

[2017-08-25 13:17] charlesroddie opened #83 "Win8.1: measurements wrong when setting BarHeight and MinThumbHidden"
Minor issue on Win8.1 (not relevant on iOS, untested on Android). When BarHeight is set to an int, and MinThumbHidden is true, the range color does not extend the right distance.

With MinThumbHidden=true

BarHeight not set :
![rangeslider2](https://user-images.githubusercontent.com/19760720/29715563-c05ee034-899f-11e7-8e26-61f44d45ed9a.PNG)

BarHeight = Nullable<int>(8) :
![rangeslider](https://u

[2017-08-29 06:27] jameswilliams00789 opened #84 "How to enable click/tap on range slider?"
I just start using this plugin but when I try to tap/tap  (instead of dragging to update value), it doesn't work. how can I do it to act similar to normal slider?

[2017-08-29 08:54] halkar commented on #84
@jameswilliams00789 what's your platform? second, device? third, do you have sample project reproducing the issue?

[2017-09-06 23:47] predalpha opened #85 "Effect on UWP"
Hello @halkar ,

refering to https://github.com/halkar/xamarin-range-slider/issues/59

I want to know if it is possible to theme / style RangeSlider for UWP projects.
Effects working fine on Android but on UWP there are no exposed color properties or maybe i havent found any solution to change bar / thumbs colors.

Is this possible ? If not will you implement those features ?

Regards

[2017-09-07 08:24] thetrust3343 opened #86 "Android: Cannot set LowerValue"
I currently try to give the rangeslider some standard values.
MinimumValue is 1 and Maximum is 5.
After that i set the LowerValue to 2 (With a variable) and the UpperValue to 5.
In iOS that works perfectly but in android its just a range from 1 to 5 instead of 2 to 5.

[2017-09-07 08:33] halkar commented on #86
@thetrust3343 do you have a sample project reproducing the problem?

[2017-09-07 09:02] thetrust3343 commented on #86
@halkar here an pretty easy sample https://github.com/thetrust3343/RangeSlider_LowerValue_SampleApp

[2017-09-17 14:46] ankit0092 commented on #73
Hey, I am not able to find v0.7.0 in nuget.

[2017-09-19 07:57] LuisM000 opened #87 "[IOS] Throw Exception when MinimumValue and MaximumValue are equals"
Hi. I have a problem in IOS (Xamarin forms) when I set the minimum and maximum values equal. For example:
`<forms: RangeSlider MinimumValue = "1" MaximumValue = "1" />`
Throws an exception.
Reviewing the code, the problem is in the Xamarin.RangeSlider.IOS project, in the TrackRect() function of the RangeSliderControl class (NaN values ..).
Any solution?

Thank you.
Greetings,

Luis

[2017-09-19 08:26] halkar commented on #73
@ankit0092 it's hidden. You can install it by specifying nuget version `Install-Package Xamarin.RangeSlider -Version 0.7.2`

[2017-09-27 10:12] halkar commented on #86
fixed in 0.7.4

[2017-09-27 10:12] #86 closed

[2017-09-27 10:20] halkar commented on #87
@LuisM000 unless you really need to don't set `MinimumValue` and `MaximumValue` to the same value. Bug is legit and I'll fix it but I see no reason to use same value for max and min.

[2017-09-27 10:25] LuisM000 commented on #87
Thanks @halkar, it will be useful to me :)

[2017-09-30 04:28] halkar commented on #83
fixed in 0.7.5

[2017-09-30 04:28] #83 closed

[2017-09-30 05:34] halkar commented on #85
Made all element public in 0.7.6. You can access them and change their properties using effects.

[2017-09-30 05:34] #85 closed

[2017-09-30 08:27] halkar commented on #87
fixed 0.7.7

[2017-09-30 08:27] #87 closed

[2017-09-30 08:35] halkar commented on #84
@jameswilliams00789 problem is that having two handles it is impossible to tell which value (lower or upper) should be changed so I don't understand how to implement this feature. If you have any ideas please share.

[2017-09-30 08:35] #84 closed

[2017-09-30 08:52] halkar commented on #79
fixed in 0.7.4

[2017-09-30 08:52] #79 closed

[2017-10-01 00:42] halkar commented on #34
fixed in 0.7.8

[2017-10-01 00:42] #34 closed

[2017-10-02 08:39] ShahramShobeiri1 opened #94 "Could not load assembly 'Xamarin.RangeSlider.Droid, Version=0.7.8.0, Culture=neutral, PublicKeyToken='."
Hello

When i try to build my Android project i get this error:

`Severity	Code	Description	Project	File	Line	Suppression State
Error		Exception while loading assemblies: System.IO.FileNotFoundException: Could not load assembly 'Xamarin.RangeSlider.Droid, Version=0.7.8.0, Culture=neutral, PublicKeyToken='. Perhaps it doesn't exist in the Mono for Android profile?
File name: 'Xamarin.RangeSlider.Dr

[2017-10-02 10:03] halkar commented on #94
@ShahramShobeiri1 do you have a sample project to reproduce the issue?

[2017-10-02 10:05] halkar commented on #94
@ShahramShobeiri1 most likely you'll need to update your target SDK to 23+ (Android 6+) and update all Android support libraries.

[2017-10-02 11:21] ShahramShobeiri1 commented on #94
My SDK is Android 6.0(API 23)
Here is my sample project, I just made a new cross platform app and add Xamarin.Forms.RangeSlider by nuget package manager to PCL, Android and UWP projects. And build error appears again, Should i update my SDK to 25?

[2017-10-02 20:19] halkar commented on #94
Thanks @ShahramShobeiri1 I'll check later today. For now you can rollback the package to version 0.6.19.

[2017-10-03 21:25] halkar commented on #94
Sorry @ShahramShobeiri1 Wasn't able to download your file yesterday. Something is wrong with my internet connection. Will check it today.

[2017-10-04 09:10] ShahramShobeiri1 commented on #94
Thanks

[2017-10-04 09:33] halkar commented on #94
Fixed in 0.7.10

[2017-10-04 12:03] ShahramShobeiri1 commented on #94
Thanks, but unfortunately it's not fixed. I have the build error as before. My Xamarin.Android.Support.v4 version is v23.3.0 and i can't update that because Xamarin.Forms 2.4.0.282 is based on Xamarin.Android.Support.v4 23.3.0

[2017-10-04 18:57] halkar commented on #94
@ShahramShobeiri1 you should be able to update `Xamarin.Android.Support.v4` as `Xamarin.Forms` supports any version >= `23.3.0`

[2017-10-04 19:26] ShahramShobeiri1 commented on #94
I like to update but i can't!!!
Here is some description about this https://forums.xamarin.com/discussion/57283/unable-to-find-a-version-of-xf-compatible-with

[2017-10-04 20:14] halkar commented on #94
@ShahramShobeiri1 weird. I was able to update everything. Thank!

[2017-10-05 08:24] AntonioCabreraTornero opened #98 "Slider not showing on iOS and UWP"
That's it, just not showing on iOS and UWP while in Android is working perfectly.
No exceptions, no crashes, just not showing.
Xamarin.Forms .NET standard project, could be that the problem?
Any suggestion ?

[2017-10-05 09:42] halkar commented on #98
@AntonioCabreraTornero sample project please.

[2017-10-05 14:17] AntonioCabreraTornero commented on #98
I'm afraid i can't reproduce it on a blank project and i can't share the project itself. But... stacktrace here :

The thread 'Unknown' (0x7) has exited with code 0 (0x0).
Unhandled Exception:

System.NullReferenceException: Object reference not set to an instance of an object

Thread finished: <Thread Pool> #8
The thread 'Unknown' (0x8) has exited with code 0 (0x0).
Thread finished: <Thread Pool>

[2017-10-05 19:11] halkar commented on #98
@AntonioCabreraTornero package version?

[2017-10-06 09:46] AntonioCabreraTornero commented on #98
0.6.17 and 2.3.4.270 of Xamarin.Forms

[2017-10-07 04:54] halkar commented on #94
@ShahramShobeiri1 please check out version 0.7.11

[2017-10-07 04:54] #94 closed

[2017-10-07 04:56] halkar commented on #98
@AntonioCabreraTornero please check if you have `RangeSliderInitialization.cs` file added to all projects.

[2017-10-07 05:34] ShahramShobeiri1 commented on #94
Thank you very much. The build is OK now!

[2017-10-09 07:05] AntonioCabreraTornero commented on #98
i do have them, just now i realized that " [assembly: Xamarin.Forms.Platform.WinRT.ExportRenderer(typeof(Xamarin.RangeSlider.Forms.RangeSlider), typeof(Xamarin.RangeSlider.Forms.RangeSliderRenderer))] "  was a bit too old and i changed it for :
"[assembly: Xamarin.Forms.Platform.UWP.ExportRenderer(typeof(Xamarin.RangeSlider.Forms.RangeSlider), typeof(Xamarin.RangeSlider.Forms.RangeSliderRenderer))

[2017-10-09 09:25] halkar commented on #98
I'll check as soon as I can. But just as a random idea, can you uninstall and then range slider install nuget packages?

[2017-10-09 09:33] AntonioCabreraTornero commented on #98
I think i already tried it but anyways, i will try again.
I'll keep you updated if i get any news on this. And of course, thank you very much

[2017-10-10 21:43] charlesroddie opened #101 "RangeSlider inside ScrollView unresponsive"
If you put a Slider inside a ScrollView, then touching the slider adjusts the slider.

If you put a RangeSlider inside a ScrollView, then touching the slider attempts to scroll the scrollview.

This is tested on Windows only.

This used to be an issue with Slider https://bugzilla.xamarin.com/show_bug.cgi?id=21478 . Perhaps it would be a similar fix for RangeSlider?

[2017-10-10 22:13] charlesroddie commented on #98
I'm also getting problems with all versions 0.7.3 up to 0.7.11 on Windows.
Sometimes there is a "missing RangeSliderInitialization.cs" error which goes away after an uninstall and reinstall, but whether there is this error or not, nothing shows up.

0.6.18 is good.

[2017-10-19 12:35] LuisM000 commented on #87
Can you solve it in 0.6.XX (0.6.19) version??
Thank you.
Greetings,

Luis

[2017-10-19 19:31] halkar commented on #87
@LuisM000 no. Why do you need 0.6.x?

[2017-10-19 19:39] LuisM000 commented on #87
@halkar currently, by project requirements, I can not upgrade Xamarin.RangeSlider to 0.7.x version, I must remain in 0.6.x version.
Sorry :(

Greetings,
Luis

[2017-10-19 19:43] halkar commented on #87
@LuisM000 then you will have to make sure that max and min value are always different (even smallest epsilon will do).

[2017-10-22 18:06] magtimmermans opened #103 "1: error: No resource identifier found for attribute 'thumbShadowColor' in package"
Hi,

Since the latest release of Xamarin (Xamarin.Android 8.0.0.33) I have lots of errors with the slider on all attributes.

Like: 1: error: No resource identifier found for attribute 'thumbShadowColor' in package

the xaml version has reference to my package "com.yazula.android" like below:

        <LinearLayout xmlns:android="http://schemas.android.com/apk/res/android"
            xmlns:local=

[2017-10-24 11:18] halkar commented on #98
@AntonioCabreraTornero could you please check that `slider-default[7]-handle[-disabled].png` is in the `Resources` folder of your iOS project and has `Embedded resource` type?

[2017-10-24 11:19] halkar commented on #98
@charlesroddie check out v0.7.13. Issues should be fixed.

[2017-10-24 11:58] AntonioCabreraTornero commented on #98
@halkar I'm afraid is not there, but anyways, we solved it a few days ago.
Seems like it was because the slider was inside a popup on a tabbed page and windows way to manage gesture events didn't like it very much. The problem seems to be related with the press gesture inside of another focus. I will try to gather some extra information soon and and pm you, in case is useful to you.

About how he

[2017-10-25 15:06] Jesuszilla opened #104 "iOS: NSInternalInconsistencyException when navigating back from ListView"
I have a ViewCell that contains a slider in a shared project as follows:
[code]

When navigating backwards from this ViewCell using the back button on the navigation bar, I get the following exception:

[code]

I tried solving this using the Deinitialize method I wrote though it didn't work, so this points to some problem within the iOS code for the Xamarin.Forms.RangeSlider itself. This is on ver

[2017-10-25 16:07] bhapca commented on #104
I have the same issue, albeit in a master-detail setup.

I think the root problem may be in https://github.com/halkar/xamarin-range-slider/blob/5083081669a8bfabd004819243a3218b04c4388c/Xamarin.RangeSlider.iOS/RangeSliderControl.cs#L530, which will remove the KVO observer only when `Dispose()` is called directly on the `RangeSliderControl` (according to https://developer.xamarin.com/api/member/Mono

[2017-10-25 16:11] bhapca commented on #104
As a workaround we could probably roll our own control and renderer classes, derived from `RangeSliderControl` and `RangeSliderRenderer` and override `Dispose` to call `base(true)`.

[2017-10-30 09:39] charlesroddie commented on #98
On Win81 nothing shows with 0.7.13, even with uninstall and reinstall.
RangeSliderInitialization.cs files are not present.
Adding
`[assembly: Xamarin.Forms.Platform.WinRT.ExportRenderer(typeof(Xamarin.RangeSlider.Forms.RangeSlider), typeof(Xamarin.RangeSlider.Forms.RangeSliderRenderer))]`
doesn't work as RangeSliderRenderer isn't found in Xamarin.RangeSlider.Forms

UWP is OK. iOS and Android untes

[2017-10-30 10:15] halkar commented on #98
@charlesroddie Win8/WP is not supported in 0.7+.

[2017-10-30 19:45] AaronPerk opened #105 "SetSelectedMinValue() and SetSelectedMaxValue() not working when called by RangeSlider events"
I'm trying to check to see that the user has at least 3 points selected in the range after the drag is completed, and to prohibit the min/max values from being set to break that rule. I'm hitting the lines where I call the methods to set the value, but when they fire it just doesn't do anything. Here's my code:

        private void RangeSlider_DragStarted(object sender, EventArgs e)
        {

[2017-10-31 14:59] nbodinripert commented on #98
Xamarin Forms version 2.4.0.38779, RangeSlider version 0.7.13, debug on iOS simulator : the slider is not displayed (everything works with an Android device). But I don't understand where I have to put this line:

[assembly: Xamarin.Forms.ExportRenderer(typeof(Xamarin.RangeSlider.Forms.RangeSlider), typeof(Xamarin.RangeSlider.Forms.RangeSliderRenderer))]

[2017-10-31 19:37] halkar commented on #98
@nbodinripert sample project please.

[2017-11-02 10:52] nbodinripert commented on #98
Sorry my bad, it was about LayoutOptions.

[2017-11-02 13:39] Dids opened #106 "Type forms:RangeSlider not found (XF.iOS)"
Just updated to the latest version and now getting this on Xamarin.Forms/iOS:

[code]

Did the namespace, classes or syntax change?

[2017-11-02 13:41] Dids commented on #106
Never mind, missed the part about adding this to `AppDelegate.cs`:

[code]

[2017-11-02 13:41] #106 closed

[2017-11-03 10:48] halkar commented on #98
@AntonioCabreraTornero do you have any issues now?

[2017-11-03 10:49] halkar commented on #103
@magtimmermans I need sample project as I can't reproduce the issue.

[2017-11-03 11:30] halkar commented on #104
@Jesuszilla I can't reproduce the problem, can you provide sample project?

[2017-11-03 13:16] magtimmermans commented on #103
Ok, i will try to make this in the weekend. It is only with the latest xamarin release.

[2017-11-04 13:28] magtimmermans commented on #103
Hi, I have e-mailed you the zip file to your google e-mail address. With the AppCompat the error appears. This gives only a problem in the latest VS 2017. VS2015 seems to work oke.

[2017-11-09 12:45] magtimmermans commented on #103
Please open de file I send to your email address before November 11th. Otherwise it is expired. (Send by we transfer)

[2017-11-09 12:46] magtimmermans commented on #103
Also possible to download here https://we.tl/JFmpFMQLYb

[2017-11-10 08:24] halkar commented on #103
@magtimmermans please try updating your view axml to
[code]

[2017-11-10 08:32] halkar commented on #98
Closing. Open it if the issue can still be reproduced.

[2017-11-10 08:32] #98 closed

[2017-11-10 15:41] magtimmermans commented on #103
Perfect , works!

[2017-11-10 15:41] #103 closed

[2017-11-10 22:40] halkar commented on #101
@charlesroddie I can't reproduce the issue. Do you have a sample project?

[2017-11-10 23:39] halkar commented on #105
@AaronPerk I've added `force` flag to `SetSelectedMaxValue` and `SetSelectedMinValue` methods. You can use it to update values while dragging.

[2017-11-12 18:30] magtimmermans opened #110 "Exception OnRestoreInstanceState (sometimes)"
Hi,

From some users I get the attached error message.

![error_range](https://user-images.githubusercontent.com/17949840/32701986-c7387626-c7df-11e7-9eac-9c8a30754774.png)

It seems as a problem in the control?

(Android).

[2017-11-12 20:27] halkar commented on #110
@magtimmermans where is sample project and steps to reproduce the issue?

[2017-11-13 06:23] magtimmermans commented on #110
Hi,

Well that's the problem, I cannot reproduce it but it happens to a number of users. I have talked with a few the users and it seems not consistent. It happens when entering the activity with the slider control on it. But not always. I have tested for memory issues, different os versions, rotation of the device. I had only one time this exception. It is only on Android.

[2017-11-16 10:02] TamasRusvai commented on #106
@Dids Hello, could you post an example AppDelegate.cs file?

[2017-11-16 10:13] Dids commented on #106
@TamasRusvai Something like this:

[code]

[2017-11-16 10:33] TamasRusvai commented on #106
@Dids Thank you!

[2017-11-19 01:58] halkar commented on #110
@magtimmermans are you sure you pass correct `IParcellable` into the method? You should only use value received from the control's `OnSaveInstanceState` method.

[2017-11-22 23:07] #105 closed

[2017-11-29 12:41] biermeister69 opened #111 "Not visible on iOS"
Hi @halkar
First of all thank you so much for your efforts and contributions!

I have a problem when using RangeSlider on a Xamarin Forms project. The control is visible on Android but not on iOS.

I created a simple project (blank page), downloaded the NuGet (Xamarin.Forms.RangeSlider v0.7.14) for each platform, added the control and the NS to the Xaml page and added the "assembly code" to AppDel

[2017-11-30 17:27] lvbernal opened #112 "StepValue missfunction"
Hi! I'm using Xamarin.Forms.RangeSlider on iOS, with the following properties:

MinimumValue = 869
MaximumValue = 894
StepValue = 5
LowerValue = 869
UpperValue = 894

It is expected that the slider moves between the values [869, 874, 879, 884, 889, 894], but the actual steps are [870, 875, 880, 885, 890, 894]. The latest -wrong- value would be 895, but it is not set because of the MaximumValue.

T

[2017-11-30 19:18] lvbernal commented on #112
My workaround for this issue was to use 0-n integers in the slider, with StepSize=1, and then use the FormatLabel function to show the value I wanted. i.e. I mapped [869, 874, 879, 884, 889, 894] to [0, 1, 2, 3, 4, 5].

[2017-12-01 22:07] halkar commented on #111
@biermeister69 two moments here.
1. Remove
[code]
2. Add something like `var t = typeof(RangeSliderRenderer);` into your `Main.cs` (`Application` class) to prevent renderer from being removed during build.

[2017-12-01 22:08] #111 closed

[2017-12-04 10:32] biermeister69 commented on #111
It worked! Great! Thanks!

[2017-12-13 18:43] kubito commented on #104
@halkar
Hello, I have some problem.

It is caused by unregistered Observers. What are observers here for? I see no reason.

[2017-12-13 20:22] halkar commented on #104
Thanks, @kubito TBH, I don't remember why it is there and I've been thinking about removing it for a while. Will do soon-ish.

[2017-12-13 20:55] kubito commented on #104
@halkar I’m using your code without Observers without any known issue.

[2017-12-17 08:43] halkar commented on #104
Should be fixed in 0.7.16

[2017-12-17 08:43] #104 closed

[2017-12-18 07:27] kubito commented on #104
@halkar tested - OK, thanks.

[2017-12-23 09:43] halkar commented on #112
Fixed in 0.7.17

[2017-12-23 09:43] #112 closed

[2018-01-04 11:02] charlesroddie commented on #71
Any progress on this @halkar . Is the rangeslider usable yet from .net standard Xamarin projects?

[2018-01-10 10:46] hktari opened #115 "Doesn't work on iOS with forms"
slider not visible on iOS and after suggested code is added:

#if NETFX_CORE
[assembly: Xamarin.Forms.Platform.WinRT.ExportRenderer(, typeof(Xamarin.RangeSlider.Forms.RangeSliderRenderer))]
#else
[assembly: Xamarin.Forms.ExportRenderer(typeof(Xamarin.RangeSlider.Forms.RangeSlider), typeof(Xamarin.RangeSlider.Forms.RangeSliderRenderer))]
#endif

NullReferenceException thrown

project:
[Test.zip](ht

[2018-01-20 16:38] DusanSenior opened #116 "RangeSlider binding to model"
Initial values are binded to activity correctly, but when it returns from page, the model is not changed by values entered by user (on the other hand f.e. Entry x:Name="Title" Text="{Binding Title }" is binded correctly).
Code snippet is attached (xaml and cs in one file).
[_source.txt](https://github.com/halkar/xamarin-range-slider/files/1651589/_source.txt)

[2018-01-21 17:11] j-sauer opened #117 "NullReference Exception under Android API 25"
Hi,

the current version does not work with Android. I always get a NullReferenceException.
Target API is 25.
Test project can be found here: [RangeSliderTest](https://github.com/j-sauer/RangeSliderTest)

[2018-01-23 09:46] halkar commented on #115
Thanks @hktari
Apparently, range slider ios package is not compatible with new iOS projects. I will try to fix it asap.

[2018-01-23 09:57] halkar commented on #117
Thanks @j-sauer
Apparently, range slider ios package is not compatible with new Android projects. I will try to fix it asap.

[2018-02-17 12:48] timdinhdotcom commented on #117
I think the `NullReferenceException` is due to `ThumbImage` being null `RangeSliderControl.cs` line 328
[code]

`ThumbImage` was set by the line
[code]

[2018-02-20 04:14] kyle-john opened #119 "[Android] Add material styling"
[This project](https://github.com/oli107/material-range-bar) will help you.

[2018-02-28 23:48] charlesroddie commented on #71
We migrated to .Net Standard 2.0 and there were no new rangeslider problems. So I think it's compatible already.

[2018-03-01 20:23] mwerickson commented on #115
Has there been any resolution to this?  I am using XF 2.5.0.121934 and the slider is not visible on iOS.

[2018-03-04 18:44] Trevor266 opened #120 "Is there a way to make the min/max values show whenever the sliders are at min and max?"
I'm using this in an Android project, and whenever the sliders are set to min and max, values aren't shown over the sliders, the second I begin moving the handles, they do show though. Is there a way to make the values show at min-max? If there is, can we get that added to the read me?

[2018-03-04 18:56] Trevor266 commented on #120
I figured it out, it's "activeOnDefaultValues", it would be nice to have this in the readme as it's a common thing to want to do, without having to dig through the declared attributes.

[2018-03-04 19:08] charlesroddie commented on #120
@Trevor266 Make a PR?

[2018-03-04 19:12] Trevor266 commented on #120
@charlesroddie Sure thing

[2018-03-04 22:04] charlesroddie commented on #101
This is a UWP issue. It happens in the simplest project with a rangeslider inside a scrollview:
https://github.com/charlesroddie/RangeSliderSample
This does not affect mouse drags, only touch.
Tested on a Surface Pro 2 and also on an external touchscreen.

[2018-03-09 18:46] charlesroddie opened #121 "[UWP] Inconsistent crashes when slider min is dragged to max"
I have had this issue in my own project, and it occurs sometimes in the sample UWP project.
Sometimes it happens, sometimes it doesn't. On some systems, not on others.
I am working on this.
@halkar Currently the rangeslider is not in a good state with a few major bugs. I am intending to help. Are you still able to work at all on it yourself?

[2018-03-09 18:52] charlesroddie commented on #121
On line 255 of RangeSliderControl.Xaml.cs of Xamarin.RangeSlider.UWP, min can take a value greater than RangeMax.

[2018-03-09 21:45] charlesroddie commented on #117
@timdinhdotcom Any ideas why android isn't loading the image?

[2018-03-09 22:30] charlesroddie commented on #117
@j-sauer is finding weird issues. seek_thumb_normal.png and seek_thumb_pressed.png don't load. seek_thumb_disabled does seem to load but looks like a faint rectangle rather than a circle.

[2018-03-10 03:19] timdinhdotcom commented on #117
Here is my work around

Add this method
[code]

change this block
[code]
to
[code]

[2018-03-10 09:35] charlesroddie commented on #117
@timdinhdotcom OK great. @j-sauer and I are working on doing this with circle drawables, bypassing resources. If our approach is going well we can take that one (which is resolution independent), otherwise we can use yours. We can do the PR.

[2018-03-10 10:05] #121 closed

[2018-03-10 10:16] halkar commented on #121
Fixed in 0.7.26.

@charlesroddie thanks a lot for your help. I really appreciate it.

[2018-03-10 11:17] halkar commented on #117
Thanks @timdinhdotcom. But your changes don't fix @j-sauer issue.

[2018-03-10 11:24] halkar commented on #117
Thanks @charlesroddie How did you fix it? I've been trying to fix it for a while but didn't fix it.

[2018-03-10 11:27] charlesroddie commented on #117
We are trying to bypass using resources by putting drawing circles in code instead of using bitmaps. (Could use xml too but code to be completely safe.) All of the relevant resources (seek_thumb_disabled, _normal, and _pressed) are just two or three circles. Pretty sure that will work.

[2018-03-11 19:19] IgorStrekha opened #126 "Please tell me how use this Control with only one thumb? Thank you."
I need custom slider where value-text will  move with thumb. Please help me.

[2018-03-11 19:46] halkar commented on #126
Documentation can be found here https://github.com/halkar/xamarin-range-slider#supported-properties

[2018-03-12 10:57] halkar commented on #117
Fixed in 0.7.30

Thanks a lot @charlesroddie

[2018-03-12 10:57] #117 closed

[2018-03-12 12:25] charlesroddie commented on #119
Suggest you do a fork to try this out.

[2018-03-12 12:27] charlesroddie commented on #101
@halkar Any ideas about how to fix this on UWP?

[2018-03-12 20:11] halkar commented on #101
Oh, sorry. I forgot about this one. Will check it today or tomorrow.

[2018-03-12 20:13] halkar commented on #119
Now, when we are using primitives instead of images it should be relatively easy. I'll try to implement material design later this week alongside with some other improvements.

[2018-03-13 09:00] MikeW1986 opened #128 "Change Thumb size or Thumb image?"
in the readme is an example to change the Thumb color with a PlatformEffect,
can you please provide also an example to change the Thumb size or Thumb image?

or is it possible to set an offset, because in my try the new thumb images are always displayed shifted.

Example in my PlatformEffect

      var ctrl = (Xamarin.RangeSlider.RangeSliderControl)Control;
      Context context = Android.App.Appl

[2018-03-18 02:33] halkar commented on #101
@charlesroddie sorry. I still can't reproduce the problem. Which device are you using for testing?

[2018-03-18 11:14] halkar commented on #119
Implemented in 0.7.31

[2018-03-18 11:14] #119 closed

[2018-03-18 11:16] halkar commented on #128
The sample is here https://github.com/halkar/xamarin-range-slider#change-thumb-image Offset is 4,4,4,4

[2018-03-18 12:53] charlesroddie commented on #101
Tested on Surface Pro 2 and on a Win10 desktop with an old touchscreen. Mouse works but touch does not inside scrollviews.

[2018-03-19 02:42] kyle-john commented on #119
@halkar I love it!

[2018-03-20 09:24] halkar commented on #101
I've tested it on my Dell XPS with touchscreen and can't reproduce the issue.

[2018-03-21 09:38] KowalskiP opened #130 "macOS support"
Hello!
Thanks for the great library.
Do you have a plan to create RangeSliderControl for macOS?

[2018-03-26 15:58] Magic73 opened #131 "[Bug] Hidden thumb with text above"
When ShowTextAboveThumbs  is set to true, the text is displayed even over an hidden thumb.

Droid and UWP.

Example:

MinThumbHidden = true,
ShowTextAboveThumbs = true,

you get a label over the hidden min thumb.

[2018-03-26 16:43] Magic73 opened #132 "[Bug] Step value set, and thumb label"
Enabling thumb label, and using a step value will produce a label update even with the intermediate values while dragging.

I tried StepValueContinuously = false, but it doesn't works.

Example:
StepValueContinuously = false
ShowTextAboveThumbs = true
LowerValue = 0
UpperValue = 5
MaximumValue = 0
MinimumValue = 100
StepValue = 1

now, drag the Max thumb.. and the user see the label updated with t

[2018-03-27 07:53] Magic73 commented on #132
My fault.

Once set StepValueContinuously = true, it works as expected :)

Sorry :P

[2018-03-27 07:53] #132 closed

[2018-03-27 08:28] halkar commented on #132
@Magic73 yes, you are right. The property name is misleading. The only reason why I'm not renaming it is that it is already used by a number of developers.

[2018-03-27 09:45] halkar commented on #130
I don't have a plan but it I'll have a look. I believe it should be relatively easy.

[2018-03-27 10:10] charlesroddie opened #135 "Xamarin.WPF support"
Xamarin.WPF is in [preview](https://developer.xamarin.com/releases/xamarin-forms/xamarin-forms-3.0/3.0.0-pre2/).
Can RangeSlider support this eventually?

Would it be more efficient to add additional platforms after https://github.com/halkar/xamarin-range-slider/issues/58 or https://github.com/halkar/xamarin-range-slider/issues/71 or should all these be treated as independent?

[2018-03-29 09:16] Magic73 commented on #115
I got this exception:

Loaded assembly: /.........../Xamarin.RangeSlider.Common.dll [External]
Unhandled Exception:

System.NullReferenceException: Object reference not set to an instance of an object

But from source code, Xamarin.RangeSlider.Common.dll doesn't contain anything.

I compiled the source code with samples, and it works....

the latest nuget version, is the same of the actual source

[2018-03-29 09:19] Magic73 commented on #115
I just noticed that on iOS sample, inside the main.cs you put:

    public class Application
    {
        // This is the main entry point of the application.
        static void Main(string[] args)
        {
            // if you want to use a different Application Delegate class from "AppDelegate"
            // you can specify it here.
            UIApplication.Main(args, null, "AppDelegate");

[2018-03-29 10:26] Magic73 commented on #115
So the issue is inside this:

        public override CGSize IntrinsicContentSize => new CGSize(NoIntrinsicMetric,
            Math.Max(LowerHandleImageNormal.Size.Height, UpperHandleImageNormal.Size.Height) + SpaceAboveThumbs);

it seems that LowerHandleImageNormal is null, and LowenHandleImageNormal is:

 private UIImage LowerHandleImageNormal
        {
            get
            {

[2018-03-29 10:36] Magic73 commented on #115
Ok.. now I just copied all the slider*.png into my Resorce folder of the iOS project, and now it works.

halkar, may you fix it?

[2018-04-03 08:39] halkar commented on #131
Fixed in 0.7.33. Thanks @Magic73

[2018-04-03 08:39] #131 closed

[2018-04-03 08:40] #126 closed

[2018-04-19 07:12] mhdshbk commented on #115
Is this fixed yet? Because, Still I'm getting the error.

[2018-04-20 07:03] kyle-john commented on #71
Is it in progress?

[2018-04-25 09:48] halkar commented on #115
No, I need time to fix it (and I don't have it). @Magic73 mentioned a workaround which you can use.

[2018-05-09 21:18] Trevor266 opened #139 "Cannot access disposed object"
I don't have a sample but I do have the steps to reproduce this bug. If you use this control in a fragment, and that fragment uses a view holder which holds a reference to this control, it will crash the app because the cached version of the control in the view holder internally is accessing a disposed bitmap, presumably the thumb handles. To get around this issue you just use FindViewById every t

[2018-05-09 21:45] Trevor266 opened #140 "Adjust image size on thumb images?"
By default on tablet, the thumb images are laughably large, see attachment 1, this is a 400 pixel wide control:
<img width="177" alt="uglyimages" src="https://user-images.githubusercontent.com/9441953/39841335-04963d06-53a8-11e8-8957-31ff2f3f2b0e.PNG">

If I then try to adjust the bitmap size as the documentation states, say 20x20 pixels, this is the result:

![image](https://user-images.githubuse

[2018-05-10 21:27] halkar commented on #140
Sample code please

[2018-05-10 21:28] halkar commented on #139
Sample code, please.

[2018-05-11 19:03] Trevor266 commented on #140
The above code is my sample code, other than that it's just an axml attribute:

[code]

[2018-05-18 11:35] halkar commented on #128
Fixed in 0.7.36

[2018-05-18 11:35] #128 closed

[2018-05-31 23:53] MarcusSpecht opened #141 "Setting UpperValue > MaximumValue in code/xaml should throw an Exception"
I am using Range-Slider on Droid, iOS and UWP with Xamarin.Forms 3.0. I accidentally set uppervalue=100 and maximumvalue=30. On All Platforms  the view loaded but only UWP showed both thumbs. On iOS and Android I only saw the left thumb since the right thumb wasn't drawn at all or outside of the viewport. It took me quite a long time to find my mistake especially since it seemed to work on UWP.

I

[2018-06-13 06:23] esolzDotnet commented on #116
yes i am facing the same issue..
Any solution ?

[2018-06-13 06:26] esolzDotnet opened #142 "I am binding the Data using MVVM structure."
But the New value is not  reflecting changed by the user in the Model.
what's the issue ?

[2018-06-13 08:28] esolzDotnet commented on #142
[code]

This is my code..

[2018-06-13 09:33] halkar commented on #142
Can you provide a minimal solution reproducing the problem?

[2018-06-13 10:18] halkar commented on #141
Sorry, can't agree. Throwing an exception will cause a lot of random problems on component initialisation as there is no specific order in which component should be initialised.

[2018-06-13 10:20] halkar commented on #140
Can you provide a minimal solution reproducing the problem?

[2018-06-13 10:20] halkar commented on #139
Can you provide a minimal solution reproducing the problem?

[2018-06-13 10:29] esolzDotnet commented on #142
actually that was my view page.
now i am pasting my model view.

[code]

i hope is right for you!!

[2018-06-14 09:51] halkar commented on #142
Apparently, you forgot to add `Mode=TwoWay` to your bindings.

[2018-06-20 08:52] luckhy12 opened #143 "Range Slider is not visible on android platform. I am using API Level 26"
**IMPORTANT**

If you are reporting a bug and want it to be fixed as soon as posible don't forget to provide a sample project.

[2018-06-21 10:53] amoscatelli commented on #71
OH so there was an issue for this. Really good.
Yea I am really interested in ufficial support for .Net Standard 2.0

[2018-06-21 18:00] charlesroddie commented on #141
Sliders have a lot of problems with this since they often involve the mutating of different variables (min, max, value, etc.) separately (e.g. through bindings). Really they shouldn't do this as it enables invalid data; instead there should be a method to set all variables simultaneously, which should throw an error on invalid data. But separate variables allowing temporary invalid data is what we

[2018-06-25 07:10] VisakhRaman opened #144 "Range Slider not visible while running in release build IOS"
Range Slider is working fine in Debug Build but not visible while running in release build IOS. But, it is working fine with Android both Debug and Release Build. Please help me out to fix this issue.

[2018-07-18 22:21] charlesroddie commented on #144
MCVE

[2018-07-18 22:21] charlesroddie commented on #143
MCVE

[2018-07-18 22:32] #143 closed

[2018-07-20 13:51] 2092015 opened #145 "Exception on android and nothing at iOS"
On android i'm getting an exception as long as the nugget is installed.
On iOS i can't open the view where the slider is placed while using the slider
[YmoApp.zip](https://github.com/halkar/xamarin-range-slider/files/2214133/YmoApp.zip)

[2018-07-21 08:12] halkar commented on #145
Can't run the app

[2018-07-22 04:33] #141 closed

[2018-07-22 04:35] #142 closed

[2018-07-22 04:39] halkar commented on #142
Please reopen if you reckon that problem is not solved.

[2018-07-23 09:39] 2092015 commented on #145
Try this 1
https://we.tl/aYCvMg7FKs

[2018-08-13 11:08] Pezzman commented on #115
PR #138 looks like it would fix this bug, can we merge the change and release a new version @halkar?

[2018-08-16 12:11] halkar commented on #115
@Pezzman unfortunately it doesn't

[2018-08-28 17:41] KevinAble commented on #115
@Magic73  thank you,  your work around worked for me

[2018-09-04 22:51] Viridovics commented on #116
@DusanSenior @esolzDotnet
You can try this:
LowerValue="{Binding AmountMin, Mode=TwoWay}"
UpperValue="{Binding AmountMax, Mode=TwoWay}"

[2018-09-24 17:09] DavidSilverlight commented on #115
Did you resolve the issue that was preventing the Xamarin.Forms version from working in iOS?   Based on the comments, it does not appear so.

[2018-09-24 17:34] DavidSilverlight commented on #115
From following the comments, I am understanding that you were able to implement a workaround successfully, and all 3 platforms work for you, but that workaround did not fix it for everybody.  Is that correct?

[2018-09-26 13:52] jamsoft commented on #115
I can't even reference this properly on iOS my refs have a yellow exclaimation mark and in code R# cannot find the RangeSlider class ... odd.

[2018-09-26 15:46] jamsoft opened #148 "Changing Thumb Images Not Working - Xam 3.2"
I've been going over all the examples and documentation but simply cannot get this to work.

I tried the documentation method which didn't work, then I tried the example in the sample application and that hasn't worked either.

Then I tried a mix of the two and that hasn't worked either.

What do I try next? Does this feature still work?

[code]
Thanks.

[2018-10-02 11:32] #116 closed

[2018-10-02 11:33] halkar commented on #116
Implemented in version 0.8.0.

[2018-10-21 12:23] charlesroddie opened #149 "Make content assets compatible with PackageReference"
When migrating an  Android or iOS platform-specific project from packages.config to PackageReference:
![image](https://user-images.githubusercontent.com/19760720/47266877-4b1ce280-d534-11e8-9fd5-9d9cf04c0381.png)

Checking now to see if this is a real problem.

[2018-10-22 20:12] charlesroddie commented on #149
Didn't seem to cause a problem on iOS in practice. Closing but will reopen if a problem shows up later.

[2018-10-22 20:12] #149 closed

[2018-10-29 10:58] aleksandrsmyk opened #150 "How to change the Blue color of slider track line?"
![screen shot 2018-10-29 at 12 57 40 pm](https://user-images.githubusercontent.com/34273070/47645613-39fa5400-db7a-11e8-9bd4-d4ac35e67115.png)

Here it is a blue line that I would like to change.

[2018-11-04 23:37] navkar commented on #115
Resolution

1. Clone this repo.
2. Copy all the slider*.png files into Resources directory of the IOS project.
3. Make sure this line is present in the app delegate.cs

[code]

4. Also ensure the following is present

[code]

5. Clean and re-build the solution.
6. Good to GO.

<img width="306" alt="screen shot 2018-11-04 at 6 36 12 pm" src="https://user-images.githubusercontent.com/7309326/4797154

[2018-11-08 10:00] raylight75 opened #152 "Binding commands to Supported Events"
Can we bind commands to ViewModel with  Supported Events DragStarted and DragComplete
If it's posible can you provide simple example

[2018-11-09 07:11] drunkendaddy opened #153 "Support for multiple thumbs?"
hey man,

thanks for the library.

Do you think you can add feature to support more than two thumbs?

do you think will be possibile in next releases?
Thanks

[2018-11-10 03:54] halkar commented on #145
@2092015 sorry but can you publish it again?

[2018-11-10 04:06] halkar commented on #110
Should be fixed in 0.8.1

[2018-11-10 04:06] #110 closed

[2018-11-23 14:29] aarcoraci commented on #115
thanks @navkar that worked for us!

[2018-11-28 21:00] 2092015 commented on #145
sry no i can't
I quit the company and i dont have the project anymore.

[2018-12-02 10:51] omersezer commented on #115
Can you create a sample project for the solution and when do you update the repository ?

[2019-01-04 01:25] Darlingtone opened #154 "Binding Side effect"
Am binding the **LowerValue** and **UpperValue** to a date range in my ViewModel, when adding a new model binding work just fine, and reflects on the database.

However, when you call up the model for editing, the **UpperValue** is automatically set to **LowerValue** (as implemented in **ValidateMinRange** and **ValidateMaxRange**) and since it bounded to the model the actual model also changes an

[2019-01-06 04:05] Darlingtone commented on #154
If you data bind LowerValue and UpperValue to a model with  i.e. low = 5 and high = 15, when RangeSlider is initialized it will automatically adjust UpperValue and high to 5

I think it's a bug, expect off course there is a way of changing the default behavior am not aware of then it's a request for help

[2019-01-06 17:02] charlesroddie commented on #154
If I can simplify this further, are you saying:

If you use a RangeSlider, set LowerValue to 5 and set UpperValue to 15, and then getting UpperValue gives 5.

This certainly seems strange. But is it valid to do this without setting MinimumValue and MaximumValue? If you don't set these then I can imagine that behaviour is undefined.

[2019-01-19 07:47] halkar commented on #154
No, it will not. At least I can't reproduce this behaviour. Can you try to change the [sample project](https://github.com/halkar/xamarin-range-slider/tree/master/Xamarin.RangeSlider.Forms.Samples/Xamarin.RangeSlider.Forms.Samples) to reproduce it?

[2019-02-03 10:53] halkar commented on #71
Implemented in 1.0.0

[2019-02-03 10:53] #71 closed

[2019-02-09 07:34] halkar commented on #152
You can use EventToCommandBehavior
https://developer.xamarin.com/samples/xamarin-forms/behaviors/eventtocommandbehavior/

[2019-02-09 07:34] #152 closed

[2019-02-17 10:59] charlesroddie opened #156 "iOS build error"
[code]
I can indeed see ios7 referred to in this repo:
https://github.com/halkar/xamarin-range-slider/search?q=IS_PRE_IOS7&unscoped_q=IS_PRE_IOS7

ios7 appears to be a very obsolete operating system http://gs.statcounter.com/ios-version-market-share/mobile-tablet/worldwide ; the minimum version with significant share is ios11.

@monkieboy @angelklim

[2019-02-23 10:49] halkar commented on #156
Should be resolved now.

[2019-02-23 10:49] #156 closed

[2019-02-28 10:53] AbhishekHumagain commented on #98
Solution

1. Clone this repo.
2. Copy all the below listed .png files into Resources directory of the IOS project.
- slider-default7-handle-disabled.png
-slider-default7-handle-disabled@2x.png
-slider-default7-handle.png
-slider-default7-handle@2x.png
-slider-default7-trackBackground.png
-slider-default7-trackBackground@2x.png

![image](https://user-images.githubusercontent.com/18373668/53561545-4

[2019-03-18 08:50] AshtonYoon opened #158 "[Android] Object disposed exception"
**IMPORTANT**

If you are reporting a bug and want it to be fixed as soon as posible don't forget to provide a sample project.

![image](https://user-images.githubusercontent.com/16028154/54517401-e95a8a80-49a4-11e9-80e6-f05fecee30df.png)

My RangeSliderControl settings is below

### Code
[code]

### XML
[code]

RangeSliderControl throws ``System.ObjectDisposedException: Cannot access a disposed o

[2019-04-04 10:45] hemantbeast commented on #158
+1 I'm also facing this issue.

[2019-05-21 04:46] AbhishekHumagain commented on #29
For the issue of "jittering" you can resolve it on iSO by adding this on your master detail page.
IsGestureEnable = "False"
this helps you to fix the issue of slider jittering.

[2019-06-12 16:02] nok3250 commented on #144
The same here

[2019-06-12 16:02] nok3250 commented on #144
If you want to reproduce - make the build and upload it to testflight

[2019-06-12 17:22] charlesroddie commented on #144
@nok3250 You will need to do basic testing.
What combinations of RangeSlider and Xamarin.Forms versions have you tried (assuming you are using XF)? Which work and which don't?

[2019-06-12 17:39] nok3250 commented on #144
XF 3.5.0.169047 + RangeSlider 1.0.1 doen't work. Didn't tried other combinations

[2019-06-12 17:54] charlesroddie commented on #144
Are you getting this issue on the sample project here?

[2019-06-12 21:13] charlesroddie commented on #144
Also it sounds like you are getting a problem on a device. What device are you testing on?

[2019-06-21 12:45] hirenvyas opened #159 "NullReferenceException:in Xamarin forms (iOS)"
Error Log:
{System.NullReferenceException: Object reference not set to an instance of an object
  at Xamarin.RangeSlider.Forms.RangeSliderRenderer.OnElementPropertyChanged (System.Object sender, System.ComponentModel.PropertyChangedEventArgs e) [0x0031a] in <69b22edaf90846f898d4e87ca8cc9844>:0

- when to come back from that slider page this error will be arise.
I am using Xamarin Forms (V 4.0) , P

[2019-06-23 11:32] halkar commented on #159
Do you have a sample app which reproduces the problem?

[2019-07-04 13:38] alxlnk commented on #159
@hirenvyas I had same issue in Xamarin.Forms 4, because Control can be null.

I solved it by ovverriding RangeSliderRenderer.OnElementPropertyChanged method.

[code]

I have also created pull request #160 for this issue.

[2019-07-19 22:28] halkar commented on #159
Deployed in v1.0.2
Thanks @alxlnk

[2019-07-19 22:28] #159 closed

[2019-07-27 13:30] halkar commented on #158
@AshtonYoon do you have a sample project?

[2019-09-13 10:51] AshishRanjanPM commented on #115
Thanks

It is working for me also

[2019-09-18 21:55] Matt54 opened #161 "Replacing images with multiple range sliders"
I am using two range sliders in a Xamarin.iOS app. I need different images for each range slider.

Due to the range slider only allowing the image to be updated using the resource files, I am unable to accomplish this.

Can you add a public method to set the Image for the Lower and Upper Handle?

[2019-10-02 23:56] mfgage opened #162 "Android thumbs small"
Is there a way to scale up the thumbs so they’re easier to grab?

[2019-10-04 18:12] mfgage commented on #162
Fwiw.   Seems like adding scale to these has solved this:
ThumbImage.  ThumbPressedImage

[2019-11-26 09:17] AhmedAdelGadElkareeem opened #163 "RangeSlider Doesn't Appear On iOS"
**IMPORTANT**
RangeSlider Doesn't Appear On iOS but Appear in android
If you are reporting a bug and want it to be fixed as soon as posible don't forget to provide a sample project.

[2019-11-26 22:12] halkar commented on #163
No information provided.

[2019-11-26 22:12] #163 closed

[2020-03-02 10:08] ThaerM commented on #140
I change the image and size from RangeSliderEffect and is work fine with me

`
 public class RangeSliderEffect : PlatformEffect
    {
        protected override void OnAttached()
        {
            var ctrl = (RangeSliderControl)Control;

            Context context = Forms.Context;
            Bitmap icon = GetResizedBitmap(BitmapFactory.DecodeResource(context.Resources, Resource.Drawable.scru

[2020-03-02 10:28] ThaerM opened #164 "Not support RTL"
When use it with multi-language you can't change the flow Direction

[2020-05-04 19:05] LiquidFenrir commented on #60
Hello, I think there has been a regression, at least on Android 7.1.1.
Putting a `RangeSlider` in the `Master` (sidebar) page of a `MasterDetailPage` makes the slider unusable, touching either of the thumbs closes the sidebar, and puts the thumb you were touching to the maximum value.
I think, from testing, that it's because of setting `IsGestureEnabled` to `false`. You can make an auto closing si

[2020-07-04 09:15] wondercrazy15 commented on #115
Thanks
It's working for me :)

[2020-07-13 23:36] doodlleus opened #165 "Cannot set absolutemaxvalue programmatically"
I have a scenario where i want to set the min/max value to be the duration of a loaded video, however using xamarin.android you can only set the absMaxValue through the layout view meaning that i cannot dynamically set the range.

Any suggestions?

[2020-07-17 18:09] joshsutterfield opened #166 "InvalidCastException in Xamarin.RangeSlider.RangeSliderControl.OnRestoreInstanceState"
Unable to duplicate but have seen InvalidCastException logged in crashes coming from here. Most likely one of the two casts is casting null. Cannot fix or bypass with override since Android requires base.OnRestoreInstanceState to be called.
[code]
Suggest alternate code:
[code]

[2020-08-22 11:43] Tommigun1980 opened #167 "Form/PageSheet on iOS doesn't work that nicely"
Hi and thanks for a nice component.

There is a problem on iOS though when the page is a form sheet or a page sheet - dragging the slider should cancel the event propagation, as right now the page will be panned up or down when the slider is being panned if there's even minute vertical movement (which there always is). This makes form and page sheets essentially not compatible with the range slide

[2020-09-07 10:32] halkar commented on #166
Can you provide a sample project to reproduce the problem?

[2020-09-07 10:32] halkar commented on #165
Can you provide a sample project to reproduce the problem?

[2020-09-26 12:58] 78fede78 opened #171 "Change thumb image not work"
I am not clear how to change the color of the thumb image.

I entered the code identical to in my android project: https://github.com/halkar/xamarin-range-slider#change-thumb-image

this code is never executed and if I change the color I have no visual change.
if I put a break point it doesn't stop.
[SliderSample.zip](https://github.com/halkar/xamarin-range-slider/files/5286850/SliderSample.zip)

[2021-01-06 16:53] robvik opened #172 "Method not found: bool Xamarin.Forms.Internals.ResourceLoader.get_IsEnabled()"
I downloaded and use Xamarin.Forms.RangeSlider in a newly created Xamarin.Forms project. Getting this error in App.xaml.cs -> InitializeComponent(); when starting the application:

`MissingMethodException: Method not found: bool Xamarin.Forms.Internals.ResourceLoader.get_IsEnabled()`

MainPage.xaml is simple:

[code]

[2021-01-07 17:54] robvik commented on #172
Issue was unrelated to xamarin-range-slider.

[2021-01-07 17:54] #172 closed, assigned to nobody

[2021-07-30 11:48] SejalHarsoda opened #173 "Slider is displayed but thumb is not moving"
Hello,

I want to use a range slider for iOS but I did not get how the thumb is working as it is displayed on the screen based on the value set but the thumb is not moving when I slide it.

Please provide the help so that I can get a callback when the slider move and the value updated

Thanks

[2021-08-04 06:54] SejalHarsoda commented on #173
Please provide the way to move thumbs based on touch

[2022-05-05 13:04] LSE-AP opened #174 "Vertical orientation"
Is it possible to use the slider in vertical mode ?

[2022-11-22 15:35] #150 closed